


.signin-header{
    background-color: salmon;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.signup-header{
    background-color: skyblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}